# MQTT Broker Configuration
# Copy this file to .env and update with your credentials
MQTT_HOST=8fac0c92ea0a49b8b56f39536ba2fd78.s1.eu.hivemq.cloud
MQTT_PORT=8884
MQTT_TLS=True

# MQTT Credentials
MQTT_USERNAME=ShellJM
MQTT_PASSWORD=psuEcoteam1st

